{% extends "auctions/layout.html" %}

{% block body %}
<div class="bodydiv">
    <h2>Active Listings</h2>
    <hr>
    {% for listing in listings %}
        <div class="index-listing">
            <div class="index-info-div">
                <h4><a href="listing/{{ listing.title }}">{{ listing.title}}</a></h4>
                <hr>
                <p><strong>Current price: </strong>{{ listing.starting_bid}}</p>
                <p>{{ listing.description}}</p>
            </div>
            <div class="index-image-div">
                <image class="index-image" src="{{ listing.image_link }}" alt="image"></image>
            </div>
            
        </div>
    {% empty %}
        <h3>No active listings</h3>
    {% endfor %}
</div>
{% endblock %}