{% extends "auctions/layout.html" %}

{% block body %}
<div class="bodydiv">
    <h2>{{ listing.title }} </h2>
    {% if remove_listing %}
        <a class="btn btn-primary" href="{% url 'delete' listing.title %}">Remove listing</a>
    {% endif %}
    <hr>
    <div class= "row">
        <div class="col-5">
            {{ listing.description }}
        </div>
        <div class="col-3">
            <div class="bidding-div">
                <div class="bidding-div-header">
                    <h5 class="margin-left"><Strong>Current price: {{ listing.starting_bid }}</Strong></h5>
                    <strong class="margin-left">Bids:</strong>
                </div>
                <div class="bidding-div-body">
                    {% for bid in bids %}
                        <p>{{ bid.user }}: {{ bid.amount }}</p>
                    {% empty %}
                        <p>Be the first to bid on this Listing</p>
                        <br>
                        <br>
                        <br>
                    {% endfor %}
                </div>
                {% if bid_message %}
                <div class="error">
                    <div class="alert alert-danger" role="alert">
                        {{ bid_message }}
                    </div>
                </div>
                {% endif %}
                <div class="bidding-place-bid">
                    <form action="{% url 'listing' listing.title %}" method="POST">
                        <div class="row">
                            <div class="col-8">
                                {% csrf_token %}
                                {{ bid_form }}
                            </div>
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary" name="bid">Bid</button>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
        <div class="col-4">
            {% if image_link %}
            <image class="listing-image" src="{{ listing.image_link }}" alt="image"></image>
            {% else %}
            <p>No image for this listing</p>
            {% endif %}
        </div>
    </div>
    <br>
    <br>
    <div class="comment-div">
        <div class="bidding-div-header">
            <h5 class="comment-h5">Comments:</h5>
        </div>
        <form action="{% url 'listing' listing.title %}" method="POST">
            <div class="comment-add">
                <div class="row">
                    <div class="col-10">
                        {% csrf_token %}
                        {{ comment_form }}
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary" name="comment">Comment</button>
                    </div>
                </div>
            </div> 
        </form>
        {% if comment_message %}
        <div class="error">
            <div class="alert alert-danger" role="alert">
                {{ comment_message }}
            </div>
        </div>
        {% endif %}

        {% for comment in comments %}
        <div class="comment">
            <strong>{{ comment.user }}:</strong>
            {{ comment.comment }}
        </div>
        {% empty %}

        {% endfor %}
    </div>
{% endblock %}